body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 30%;
  margin: 10% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question {
  margin-bottom: 20px;
}
.question p {
  margin: 0 0 10px;
}
.options label {
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}
button:hover {
  background-color: #0056b3;
}

.start-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
}

.info {
  margin-top: 2%;
}

table {
  margin-left: 10%;
}

.question {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.question p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

textarea {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
}

/* Hover effect */
.question:hover {
  background-color: #eee9e9;
  transition: background-color 0.3s ease;
}

.correct-answer {
  background-color: rgb(116, 172, 208);
}

.wrong-answer {
  background-color: rgb(255, 0, 0);
}
